
body {
    background: linear-gradient(to bottom, #333333, #1a1a1a);
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
}


.card {
 
    --bs-card-bg: none;
    color:  #cccccc;
    word-wrap: break-word;
    background-color: #1a1a1a;

}

